body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #495057;
}

h1, h2, h3, h4, h5, h6, p{
    padding: 0;
    margin: 0;
}

.wrapper {
}
.page {
}
.articles {
    padding-top: 60px;
    padding-bottom: 60px;
}
.articles__container {
    max-width: 1270px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}
.articles__title {
    font-size: 25px;
    margin-bottom: 45px;
}
.articles__filter {
    margin-bottom: 20px;
}
.filter-articles {
    display: flex;
    align-items: center;
    column-gap: 25px;
    row-gap: 5px;
    flex-wrap: wrap;
}
.filter-articles__item {
    font-size: 15px;
    line-height: 2;
    color: #c4c4c4;
    transition: color 0.3s;
    border: none;
    background: none;
    cursor: pointer;
}
.filter-articles__item:hover,
.filter-articles__item.active {
    color: #495057;
}
.articles__items {
    margin: 0 auto;
    transition: all 0.3s;
}
.articles__item {
    width: 400px;
}
.articles__item:not(:last-child){
    margin-bottom: 20px;
}

@media (max-width: 430px) {
    .articles__item {
        width: 100%;
    }
    /* Cancel fitWidth */
    .articles__items {
        width: auto !important;
    }
}

.article {
}

.article__image {
    display: block;
    margin-bottom: 30px;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}
.article__image:hover img
{
    transform: scale(1.03);
}

.article__image img.init{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: transform 0.3s;
}
.article__body {
    display: grid;
    gap: 15px;
}
.article__date {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.6;
}
.article__title {
}
.article__link-title {
    color: #212529;
    line-height: 1.5;
    text-decoration: none;
}

.article__link-title:hover{
    text-decoration: underline;
}
.article__text {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.6;
}